@font-face {
  font-family: "Eurostile";
  font-display: block;
  src: url("./fonts/EurostileExtended.otf") format("opentype");
}

@font-face {
  font-family: "EurostileBlack";
  font-display: block;
  src: url("./fonts/EurostileExtendedBlack.ttf") format("truetype");
}

a {
  color: rgba(0, 0, 0, 0.473);
  cursor: crosshair;
  transition: 1s;
}

a:hover,
a:active,
a:focus {
  color: rgb(0, 0, 0);
  outline: none;
  filter: blur(0.1rem);
}

h2,
h3 {
  transition: 1s;
  font-size: 0.75rem;
  width: 250px;
}

h2:hover,
h2:focus,
h2:active,
h3:hover,
h3:focus,
h3:active {
  filter: blur(3px);
  color: rgba(235, 235, 235, 0.808);
  outline: none;
}

.page {
  font-size: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.158);
}
