@font-face {
  font-family: "Eurostile";
  font-display: block;
  src: url("./fonts/EurostileExtended.otf") format("opentype");
}

@font-face {
  font-family: "EurostileBlack";
  font-display: block;
  src: url("./fonts/EurostileExtendedBlack.ttf") format("truetype");
}

a {
  color: rgba(183, 184, 183, 0.808);
  cursor: crosshair;
}

a:hover,
a:active,
a:focus {
  color: rgb(192, 192, 192);
  outline: none;
}

.AppX {
  text-align: center;
  font-family: "Eurostile";
  font-size: 5vh;
  background-color: rgb(244, 248, 255);
  cursor: crosshair;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 35% 35% 10%;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 0vh;
  color: rgb(192, 192, 192);
}

.AppX:focus {
  outline: none;
}

.App-header {
  margin: auto;
  text-align: left;
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 8vh;
  font-family: "EurostileBlack";
  color: rgba(206, 206, 206, 0.555);
  border-radius: 15vh;
  filter: blur(0.12vh);
}

#headerSpan:hover {
  color: rgba(209, 209, 209, 0.233);
  filter: blur(0.22vh);
}

#NavBar {
  grid-column: 1/1;
  grid-row: 2/4;
  filter: drop-shadow(0vh 0vh 3vh #d4d4d47a);
  background-color: rgb(239, 246, 255);
}

#leftBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Home {
  font-size: 4vh;
}

.OtherPage {
  font-size: 4vh;
}

.Link {
  background-color: pink;
/*   filter: blur(0.09vh);
  text-indent: 0;
  font-family: "Eurostile";
  font-size: 4vh;
  color: rgba(209, 209, 209, 0.808);
  background-color: rgb(239, 246, 255);
  border-style: none;
  width: 85%; */
}

.Link:hover {
  color: rgb(223, 223, 223);
  z-index: 1;
  filter: blur(0.25vh);
}

#contentBox {
  grid-area: 2 / 2 / 4 / 6;
  background-color: rgb(239, 246, 255);
  font-size: 10vh;
  text-align: center;
  filter: blur(0.12vh) drop-shadow(0vh 0vh 3vh #d4d4d47a);
}

#Content:hover {
  filter: blur(0.4vh);
}

#foot {
  grid-area: 4 / 3 / 4 / 4;
  color: rgba(214, 214, 214, 0.705);
  font-size: 1.9vh;
  text-align: left;
  text-align: center;
  filter: blur(0.1vh);
  width: 100%;
}

#foot:hover {
  filter: blur(0.2vh);
}
